$body-background-color: #FCFCFF;

$header-background-color: #5E4CE2;
$header-main-color: white;
$header-height: 3.4rem;

$header-button-hover-color: #442fdd;
$header-button-click-color: #3521c9;

$header-right-button-hover-color: #eee;
$header-right-button-click-color: #ddd;

$mission-detail-bar-height: 2rem;

$panel-background-color: #D1D1E7;
$panel-main-color: #2B2C34;

$view-background-color: #E9E9F0;
$view-border-color: #9896A3;
$view-light-color: gray;

$emphasis-color: #D4615D;

$icon-button-hover-color: #d5d5e2;
$icon-button-click-color: #c1c1d4;
