@import "_variables";

#header {
    width: 100%;
    background-color: $header-background-color;
    color: $header-main-color;

    padding: 0.4rem 0;

    display: flex;
    align-items: center;

    #title {
        font-size: 24px;
    }

    #home-icon {
        width: 2rem;
        margin: 0 1rem;
    }
}

.chapter-container {
    margin: 2rem;
}

.chapter-title {
    font-size: 22px;
    font-weight: bold;
}

.mission-panel {
    background-color: $panel-background-color;
    color: $panel-main-color;
    text-decoration: none;

    margin: 1rem;
    padding: 0.6rem 1rem;
    width: 20rem;
    height: 7rem;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mission-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.mission-text {
    font-size: 14px;
}

.mission-clear-icon-container {
    width: 100%;
    text-align: right;
}

.mission-clear-icon {
    width: 1.5rem;
}
