@import "_variables";

#header {
    width: 100%;
    height: $header-height;
    background-color: $header-background-color;
    color: $header-main-color;

    display: flex;
    justify-content: space-between;

    #header-left {
        display: flex;
        justify-content: left;
        align-items: center;

        #title {
            margin: 0 0.5rem;
            font-size: 24px;
        }

        #home-icon-container {
            height: 100%;
            display: flex;
            align-items: center;
        }

        #home-icon-container:hover {
            background-color: $header-button-hover-color;
        }

        #home-icon-container:active {
            background-color: $header-button-click-color;
        }

        #home-icon {
            width: 2rem;
            margin: 0 1rem;
        }
    }

    #header-center {
        display: flex;
        align-items: center;

        height: 100%;

        .header-mission-list-item {
            height: 100%;
            padding: 0 0.4rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 18px;
            text-align: center;

            color: $header-main-color;
            text-decoration: none;
            cursor: default;
        }

        .header-mission-list-item:hover {
            background-color: $header-button-hover-color;
        }

        .header-mission-list-item:active {
            background-color: $header-button-click-color;
        }

        #header-mission-list-item-selected {
            color: $header-background-color;
            background-color: white;
        }

        .icon {
            width: 1.4rem;
        }
    }

    #header-right {
        width: 15rem;
        height: 100%;
        padding: 0 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 24px;
        color: $emphasis-color;
        background-color: white;
        text-decoration: none;
        cursor: default;
    }

    #header-right:hover {
        background-color: $header-right-button-hover-color;
    }

    #header-right:active {
        background-color: $header-right-button-click-color;
    }
}
