@import "_variables";

body {
    background-color: $body-background-color;
    cursor: default;
    user-select: none;
}

#mission-detail-bar {
    width: 100%;
    height: $mission-detail-bar-height;
    background-color: $panel-background-color;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #mission-title {
        padding: 0 1rem;
        width: 18rem;
    }

    #mission-goal {
        display: flex;
        align-items: center;

        .icon {
            height: 1.4rem;
            margin: 0 0.2rem;
        }

        .info-icon {
            border-radius: 4px;
        }

        .info-icon:hover {
            background-color: $panel-button-hover-color;
        }

        .info-icon:active {
            background-color: $panel-button-click-color;
        }
    }

    #spacer {
        padding: 0 1rem;
        width: 18rem;
    }
}

#main-view {
    width: 100vw;
    height: calc(100vh - (#{$header-height} + #{$mission-detail-bar-height}));
    display: flex;

    $console-view-width: 20%;
    $thread-view-height: 40%;

    #center-panel {
        width: calc(100% - #{$console-view-width});
        height: 100%;

        #upper-panel {
            display: flex;
            width: 100%;
            height: calc(100% - #{$thread-view-height});

            #program-view {
                width: calc(100% - 1.5rem);
                height: calc(100% - 1.5rem);
                margin: 1rem 0.5rem 0.5rem 1rem;
                padding: 0.5rem;
                background-color: $view-background-color;
                border: 1px solid $view-border-color;
                border-radius: 8px;
                box-sizing: border-box;

                #speed-slider {
                    width: 10rem;
                    display: flex;
                    align-items: center;
                    margin: 0 1rem;
                    font-weight: normal;
                }
            }

            #visualizer-view {
                width: calc(100% - 1rem);
                height: calc(100% - 1.5rem);
                margin: 1rem 0.5rem 0.5rem 0.5rem;
                padding: 0.5rem;
                background-color: $view-background-color;
                border: 1px solid $view-border-color;
                border-radius: 8px;
                box-sizing: border-box;

                $global-data-width: 70%;
                $mutex-width: calc(100% - #{$global-data-width});
                $visualizer-view-title-height: 1.2rem;

                #visualizer-view-content-container {
                    display: flex;
                    width: 100%;
                    height: calc(100% - #{$visualizer-view-title-height});

                    #global-data-view {
                        width: $global-data-width;
                        border-right: 1px solid $view-border-color;

                        #variable-canvas {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    #mutex-view {
                        width: $mutex-width;
                    }
                }

                #visualizer-title {
                    width: 100%;
                    height: $visualizer-view-title-height;
                    border-top: 1px solid $view-border-color;
                    display: flex;
                    font-size: 14px;

                    #global-data-title {
                        width: $global-data-width;
                        text-align: center;
                    }

                    #mutex-title {
                        width: $mutex-width;
                        text-align: center;
                    }
                }
            }
        }

        #lower-panel {
            width: calc(100% - 1.5rem);
            height: calc(#{$thread-view-height} - 1.5rem);
            margin: 0.5rem 0.5rem 1rem 1rem;

            #thread-view {
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                background-color: $view-background-color;
                border: 1px solid $view-border-color;
                border-radius: 8px;
                box-sizing: border-box;

                #threads-container {
                    display: flex;
                }

                .thread-name-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .thread-name-icon {
                    width: 1rem;
                    height: 1rem;
                    margin: 0.5rem;
                }
            }
        }
    }

    #right-panel {
        width: 20%;

        #console-view {
            width: calc(100% - 1.5rem);
            height: calc(100% - 2rem);
            margin: 1rem 1rem 1rem 0.5rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background-color: $view-background-color;
            border: 1px solid $view-border-color;
            border-radius: 8px;

            #console-container {
                height: 100%;
                overflow: auto;
            }

            #console {
                padding: 0.2rem 0;
                margin: 0;
            }

            .console-log {
                color: black;
                padding: 0 0.6rem;
                list-style: none;
            }

            .console-error {
                color: red;
                background-color: rgb(255, 240, 240);
                padding: 0 0.6rem;
                list-style: none;
            }
        }
    }

    $view-title-height: 2rem;

    .view-label {
        width: 100%;
        height: $view-title-height;
        border-bottom: 1px solid $view-border-color;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .view-title {
        display: flex;
        align-items: center;
    }

    .view-icon {
        height: 1.5rem;
        margin: 0 0.2rem;
    }

    .view-content {
        width: 100%;
        height: calc(100% - #{$view-title-height});

        .light-color-text {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $view-light-color;
            font-size: 20px;
        }
    }

    .icon-button {
        border-radius: 4px;
    }

    .icon-button:hover {
        background-color: $icon-button-hover-color;
    }

    .icon-button:active {
        background-color: $icon-button-click-color;
    }
}

//#main-view {
//    width: 100vw;
//    height: calc(100vh - (#{$header-height} + #{$mission-detail-bar-height}));
//
//    display: flex;
//
//    #left-panel {
//        height: 100%;
//    }
//
//    #center-panel {
//        height: 100%;
//
//        $threads-height: 40%;
//
//        #variables-panel {
//            width: 100%;
//            height: calc(100% - #{$threads-height});
//        }
//
//        #variable-canvas {
//            width: 100%;
//            height: 80%;
//            border: 1px solid black;
//            box-sizing: border-box;
//        }
//
//        #threads-panel {
//            width: 100%;
//            height: $threads-height;
//
//            #threads-container {
//                height: calc(100% - 24px);
//
//                display: flex;
//                justify-content: space-between;
//            }
//        }
//    }
//
//    #right-panel {
//        height: 100%;
//
//        #console {
//            padding: 0;
//            margin: 0.4rem 0;
//            list-style: none;
//            font-size: 0.9rem;
//        }
//
//        .console-log {
//            color: black;
//            padding: 0 0.6rem;
//            background-color: rgb(245, 245, 245);
//        }
//
//        .console-error {
//            color: red;
//            background-color: rgb(255, 240, 240);
//            padding: 0 0.6rem;
//        }
//    }
//}
